{{% extends "layout.html" %}}
{{% block content %}}
<div class="dataset-card">
    <h2 class="dataset-title">{title}</h2>
    
    <table class="dataset-table">
        <tr>
            <td>Title</td>
            <td>{title}</td>
        </tr>
        <tr>
            <td>Publisher</td>
            <td>{publisher}</td>
        </tr>
        <tr>
            <td>Year</td>
            <td>{year}</td>
        </tr>
        <tr>
            <td>Authors</td>
            <td>{authors}</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>{version}</td>
        </tr>
        <tr>
            <td>License</td>
            <td>
                <a href="{license_url}" class="license-badge">
                    <i class="bi bi-cc-circle"></i>
                    {license_name}
                </a>
            </td>
        </tr>
        {file_info_rows}
        <tr>
            <td>&nbsp;</td>
            <td></td>
        </tr>
        <tr>
            <td>DOI</td>
            <td><a href="https://doi.org/{doi_id}">{doi_id}</a></td>
        </tr>
        {metadata_file_row}
    </table>
</div>
{{% endblock content %}}
